* {
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-gap: 15px;



}
h2 a {
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  color: #1b447f;
  transition-property: background-color;
  transition-property: color;
  transition-property: font-size; 
  transition-duration: 0.75s;
  font-size: 20px;

}

h2 a:hover{
  background-color: #1b447f;
  color: white;
  font-size: 24px;



}

a [href="./classes.html"]:visited {
  color: #ecb722;
  font-size: 50px;
}
.flex-container {
  display: flex;
  justify-content: right;
  justify-content: space-around;

}
.grid-item-1 {
  border: 1px solid black;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #03a3df;

}
.grid-item-2 {
  border: 1px solid black;
  grid-column: 1 /2;
  grid-row: 2/3;
  background-color: white;
}
.grid-item-3 {
  border: 1px solid black;
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: white;

}

.grid-item-4 {
  border: 1px solid black;
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: white;
}
.grid-item-5 {
  border: 1px solid black;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: white;
}
.grid-item-6 {
  border: 1px solid black;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: #03a3df;
  color: white;
  background-color: #03a3df;




}
li a:visited {
 color: #ecb722;
}

footer {
  background-image: url("/Users/noahtesema/Desktop/lesson-7-assigmnet-grid#1/images/footerImage.jpeg");
}
body {
  font-family: “Arial Regular”, sans-serif;
  font-size: 17px;
}
h1 {
  font-family: “Arial Bold”, sans-serif;
  font-size: 40px;
}

h2 {
  font-family: “Arial Bold”, sans-serif;
  font-size: 24px;
}

h3 {
  font-family: “Arial Bold”, sans-serif;
  font-size: 17px;
}
 body {
 background-color: #1b447f;
}
